.bg-menu{
    background-color: green;
    color: #fff;
}

.accordion-button {
    background-color: lightgray;
    padding: 10px;
    text-decoration: none;
    color: black;
  }

  .accordion-button:active {
    background-color: gray;
  }
.li{
    color: #fff;
    padding: 1rem;
}

.folha{
    color: #fff;
}
.pergunta{
    text-align: center;
    font-size: 48;
    color: green;
}

.marque{
    text-align: center;
}
.button{
    background-color: green;
    color: #fff;
}
.div2{
    padding: 5rem;
    background-color: #b7d2b6;
    text-align: center;
}
.footer{
    padding: 2rem;
    background-color: darkgreen;
    color: #fff;
}

.footerp{
    text-align: center;
}